@model IEnumerable<MvcDemoApplication.ViewModel.EmployeeVM>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <h1>Employee Information</h1>
        <table border="1">
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Salary</th>
                <th>Employee Dept ID</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.eno</td>
                    <td>@item.ename</td>
                    <td>@item.salary</td>
                    <td>@item.dno</td>
                   
                </tr>
            }
            </table>
    </div>
</body>
</html>